:root {
  --color-dark: #1c1c1c;
  --color-grey: #777777;
  --color-white: #fff;
  --color-primary: #ff8938;
  --color-dark-light: #494949;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Manrope", sans-serif;
  color: var(--color-dark);
}

/* Common Class */
.tea-color-primary{
  color: var(--color-primary) !important;
}
.tea-color-dark-light{
  color: var(--color-dark-light) !important;
}
.tea-btn-primary {
  width: 12.5rem;
  height: 4rem;
  background: linear-gradient(270deg, #ff0000 0%, #ff8938 100%);
  color: var(--color-white);
  border: 0;
  border-radius: 0.5rem;
  transition: all 0.3s;
}
.tea-btn-primary:hover {
  /* background: linear-gradient(180deg, #FF0000 0%, #FF8938 100%); */
  scale: 1.05;
}

.tea-btn-secondary {
  width: 12.5rem;
  height: 4rem;
  background: var(--color-white);
  /* color: linear-gradient(270deg, #FF0000 0%, #FF8938 100%); */
  color: #ff0000;
  border: 0;
  border-radius: 0.5rem;
  transition: all 0.3s;
  font-size: 1.2rem;
  font-weight: 600;
}
.tea-btn-secondary:hover {
  scale: 1.05;
}




.tea-scale {
  transition: all 0.3s;
}
.tea-scale:hover {
  scale: 1.05;
}

/* NavBar */
.tea-navbar{
  background: var(--gradient-color-green);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 2.2rem;
    text-transform: uppercase;
}
.tea-navbar-color{
   background-image: linear-gradient(270deg, #FF0000 0%, #FF8938 100%);
}

.tea-nav-item{
  font-size: 1.3rem;
  margin: 0 0.5rem;
}
.tea-nav-item-link{
  transition: all 0.3s;
}
.tea-nav-item-link:hover,
.tea-nav-item-link.active{
color: var(--color-primary) !important;
}

/* Banner Section */

.banner-description {
  font-size: 1.1rem;
  color: var(--color-grey);
}

/* Features Section */
.tea-gradients {
  background: linear-gradient(180deg, #f4f4f4 0%, rgba(244, 244, 244, 0) 100%);
}

/* Great Test  */
.tea-great-test-1 {
  width: 100%;
  height: 8.5rem;
  background: linear-gradient(270deg, #ff0000 0%, #ff8938 100%);
  opacity: 0.1;
  border-radius: 10px;
  transition: all 0.3s;
}

.tea-great-test-1:hover {
  transform: rotate(-180deg);
}
.tea-great-img-1 {
  background: rgba(87, 118, 57, 0.1);
  border-radius: 10px;
}

.tea-great-test-2 {
  width: 100%;
  height: 8.5rem;
  background: linear-gradient(90deg, #494646 0%, rgba(255, 255, 255, 0) 100%);
  opacity: 0.1;
  border-radius: 10px;
  transition: all 0.3s;
}

.tea-great-test-2:hover {
  transform: rotate(-180deg);
}
.tea-great-img-2 {
  background: rgba(230, 166, 35, 0.1);
  border-radius: 10px;
}

/* Super Clients Section */
.tea-super-clients {
  background: linear-gradient(270deg, #ff0000 0%, #ff8938 100%);
  border-radius: 10px;
}


.icon-img{
    width: 15rem;
    opacity: 0.1;
    /* color: var(--color-white); */
    background: rgba(255, 255, 255, 0.05);
    
}

.position-ing{
  position: absolute;
  left: -5rem;
  top: 4rem;
  z-index: 1;
}


/* Footer */
.tea-footer{
  background: linear-gradient(270deg, rgba(255, 0, 0, 0.1) 0%, rgba(255, 137, 56, 0.1) 100%);
}

.footer-subscribe-form{
  background: transparent !important;
  border: 0 !important;
  border: 2px solid var(--color-primary) !important;
}
.footer-subscribe-form::placeholder{
  color: var(--color-primary) !important;
}
.footer-subscribe-button{
  background: linear-gradient(270deg, #ff0000 0%, #ff8938 100%);
  color: #f4f4f4;
  padding: 10px;
  border-radius: 50%;
}

.footer-icon{
  transition: all 0.3s;
  cursor: pointer;
}
.footer-icon:hover{
  scale: 1.05;
}
